.button{
    border: 2px solid black;
    height: 100px;
    width:100px;
    background-color: black;
    display:inline-block;
}

#grey{
    background-color: grey;
}
#white{
background-color: white;
}
#blue{
  background-color: blue;
}
#yellow{
   background-color: yellow;
}